$display-font-sizes: (
  h1: 3.5rem,
  h2: 3rem,
  h3: 2.5rem,
  h4: 2rem,
  h5: 1.5rem,
  h6: 1rem,
);

$text-font-sizes: (
  xxl: 2rem,
  xl: 1.5rem,
  lg: 1.25rem,
  md: 1rem,
  sm: 0.8rem,
  xs: 0.5rem,
);
