@use '../utils/utils' as *;

:root {
  --color-text: #{$color-black};
  --color-secondary: #{$color-purple};
  --color-primary: #{$color-blue};
  --color-links: #{$color-purple};
  --spacing-xxs: #{$spacing-02};
  --spacing-xs: #{$spacing-04};
  --spacing-sm: #{$spacing-06};
  --spacing-md: #{$spacing-08};
  --spacing-lg: #{$spacing-10};
  --spacing-xl: #{$spacing-12};
  --spacing-xxl: #{$spacing-14};
}
